<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false"/>
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
        <basicHttpBinding>
            <binding name="BasicHttpBinding_IPizzaWaiterTestService" />
        </basicHttpBinding>
        <wsHttpBinding>
            <binding name="WSHttpBinding_IPizzaWaiterTestService" />
            <binding name="WSHttpBinding_IPizzaWaiterTestService1" />
        </wsHttpBinding>
    </bindings>
    <client>
        <endpoint address="http://localhost:8733/Design_Time_Addresses/PizzaWaiterServiceLibrary/TestService/"
            binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPizzaWaiterTestService"
            contract="PizzaWaiterServiceLibrary.IPizzaWaiterTestService"
            name="WSHttpBinding_IPizzaWaiterTestService">
            <identity>
                <dns value="localhost" />
            </identity>
        </endpoint>
        <endpoint address="http://localhost:8733/Design_Time_Addresses/PizzaWaiterServiceLibrary/TestService/basic"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPizzaWaiterTestService"
            contract="PizzaWaiterTestServiceReference.IPizzaWaiterTestService"
            name="BasicHttpBinding_IPizzaWaiterTestService" />
        <endpoint address="http://localhost:8733/Design_Time_Addresses/PizzaWaiterServiceLibrary/TestService/ws"
            binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPizzaWaiterTestService1"
            contract="PizzaWaiterTestServiceReference.IPizzaWaiterTestService"
            name="WSHttpBinding_IPizzaWaiterTestService1">
            <identity>
                <dns value="localhost" />
            </identity>
        </endpoint>
    </client>
  </system.serviceModel>
</configuration>