<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IPizzaWaiterTestService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/PizzaWaiterServiceLibrary/TestService/"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPizzaWaiterTestService"
          contract="PizzaWaiterServiceLibrary.IPizzaWaiterTestService"
          name="WSHttpBinding_IPizzaWaiterTestService">
        <!--<endpoint address="http://localhost:8080/UserService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IElectricCarsUserService"
                contract="ElectricCarsUserServiceReference.IElectricCarsUserService"
                name="WSHttpBinding_IElectricCarsUserService">-->
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>